*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
font-family: 'Urbanist', sans-serif;
}
body{
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Urbanist', sans-serif;
  background-color: #f3f6fd;
  font-size: 13px;
  font-weight: bold;
  color: rgb(189, 196, 203);
  overflow-x: hidden;
}
.logo-container {
  width: 150px;
  height: auto;
}
/* test nav */

body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Urbanist', sans-serif;
  background-color: #f3f6fd;
  font-size: 13px;
  font-weight: bold;
  color: rgb(189, 196, 203);
  overflow-x: hidden; /* Add this line to hide horizontal scrollbar */
  padding-top: 5px;
  /* padding-bottom: 12px; */

}

.navbar {
  background-color: white; /* Set the background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  margin-bottom: 20px; /* Add space below the navbar */

}

.navbar-brand {
  margin-left: 60px;
}

.navbar-nav {
   margin-right: auto /* Add margin to align items to the right */
   margin-left: auto;
 }

.navbar-nav .nav-link {
  color: #000; /* Set the link color */
  margin-right: 10px; /* Add spacing between nav items */
  transition: color 0.3s; /* Add transition effect */
  text-decoration: none; /* Remove underline by default */
}

.navbar-toggler {
  border: none; /* Remove the border */
}

.btn-primary {
  background-color: #f97c45; /* Set the button color */
  border-color: #f97c45; /* Set the button border color */
  padding: 8px 30px;
}

nav ul li a::after {
content: '';
position: absolute;
bottom: -5px;
left: 0;
width: 100%;
border-bottom: 2px solid transparent;
transition: border-bottom-color 0.3s;
}

nav ul li a:hover::after {
border-bottom-color: #f97c45;
}
.navbar-nav li a{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color:#F97C45;
  position: relative;

}
/* end navbar */
/* start talk */
.letstalk_section {
    padding: 45px;
    padding-bottom: 45px;
    text-align: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/pexels-kindel-media-7688336.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -20px;
    padding-top: 45px;
  }

  .letstalk_section h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .letstalk_section button {
    color: #ffffff;
    border-color: #ffffff;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .letstalk_section {
      padding: 20px;
      margin-top: 0;
    }

    .letstalk_section h3 {
      font-size: 24px;
    }

    .letstalk_section button {
      padding: 8px 20px;
      font-size: 16px;
    }
  }
  /* end talk */

.services {
  margin: 20px;
}

.section-title {
  padding: 1em;
}

.section-title p {
  font-family: 'Urbanist', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #000000;
}

/* Responsive styles */
@media (max-width: 768px) {
  .letstalk_section {
    padding: 20px;
    margin-top: 0;
  }

  .letstalk_section h3 {
    font-size: 24px;
  }

  .letstalk_section button {
    padding: 8px 20px;
    font-size: 16px;
  }

  .services {
    margin: 10px;
  }

  .section-title p {
    font-size: 10px;
    line-height: 16px;
  }
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #f8f9fa;
  border-radius: 8px;
 overflow: hidden;
 border-radius: 0;
 width: 400px;
  height:400px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  width: 80%;
  object-fit: cover;
 height: 100%;
}

.card-body {
  text-align: center;
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.card-text {
  color: #6c757d;


}
/* additional-content */
.container {
  display: flex;
  flex-direction: column;
  margin: auto;

}

.card {
  width: 80%;

}

/* test */

.img-small {
    max-width: 200px; /* Adjust the maximum width as needed */
    height: auto;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul > li {
    padding: 4px;
    color: #454545;
  }

  ul > li:hover {
    color: #000000;
    cursor: pointer;
  }

  hr {
    border-width: 3px;
  }

  .card {
    padding: 2% 7%;
  }

  .social > i {
    padding: 1%;
    font-size: 15px;
  }

  .social > i:hover {
    color: #957bda;
    cursor: pointer;
  }

  .policy > div {
    padding: 4px;
  }

  .heading {
    font-family: 'Urbanist', sans-serif;
    color: black;
  }

  .divider {
    border-top: 2px solid;
  }

  /* Footer */

  .footer {
    background: linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, #F97C45, #F97C45);
    color: #fff;
    padding: 40px 0;
  }

  .logo-container {
    width: 150px; /* Adjust the width as desired */
    height: auto; /* This ensures the height scales proportionally */
  }

  .footer h4 {
    font-size: 18px;
  }

  .footer p {
    font-size: 14px;
    color: #ccc;
  }

  .footer ul {
    padding: 0;
  }

  .footer ul li {
    margin-bottom: 10px;
  }

  .footer ul li a {
    color: #ccc;
    text-decoration: none;
  }

  .footer-bottom {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
  }

  .footer-bottom p {
    font-size: 14px;
  }

  .footer-bottom a {
    color: #fff;
    text-decoration: underline;
  }
 .footer-link{
   text-decoration: none;
   color: black;
 }
  /* Responsive styles */
  @media (max-width: 768px) {
    .footer {
      padding: 30px 0;
    }

    .footer h4 {
      font-size: 16px;
    }

    .footer p {
      font-size: 12px;
    }

    .footer ul li {
      margin-bottom: 5px;
    }

    .footer-bottom p {
      font-size: 12px;
    }
  }
